<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |users| %>
      <tr>
        <td><%= users.first_name %></td>
        <td><%= users.last_name %></td>
      <td><%= link_to "#{users.first_name}'s Books", "/author/#{users.id}" %>
      <td><%= link_to "Update UserInfo", "/author/update_info/#{users.id}" %>
      <td><%= link_to "Withdrawal", "/author/withdrawal/#{users.id}", method: 'patch' %>
      </tr>
    <% end %>
  </tbody>
</table>
<p></p>
  <div><%=link_to "Add New User", "/signin/new" %></div>
  <div><%=link_to "Go To Main", "/" %></div>

<br>

