<%= form_with do |form| %>
 

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_area :last_name %>
  </div>

    <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth, start_year: 1900, end_year: Time.now.year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
